<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team test</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/test.css" %}">
    <script src="{% static "js/jquery-1.12.3.js" %}"></script>
    <script src="{% static "js/test.js" %}"></script>
</head>
<body>
<p>验证码(鼠标点击灰色区域生成):</p>
<img id="check"/>
<br/>
<p>register</p>
<form action="http://110.64.69.66:8081/team/register/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    inv: <input name="inv_code" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>login</p>
<form action="http://110.64.69.66:8081/team/login/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>reset</p>
<form action="http://110.64.69.66:8081/team/reset/" method="post">
    mail: <input name="mail" type="text"/><br/>

    <input type="submit" value="提交"/></form>
<p>updatea_pwd</p>
<form action="http://110.64.69.66:8081/team/update_pwd/" method="post">
    mail: <input name="mail" type="text"/><br/>
    pwd: <input name="pwd" type="text"/><br/>
    key: <input name="key" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>========================================================</p>
<p>local</p>
<p>========================================================</p>
<p>register</p>
<form action="http://127.0.0.1:8000/team/register/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    inv: <input name="inv_code" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>login</p>
<form action="http://127.0.0.1:8000/team/login/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>reset</p>
<form action="http://127.0.0.1:8000/team/reset/" method="post">
    mail: <input name="mail" type="text"/><br/>

    <input type="submit" value="提交"/></form>
<p>updatea_pwd</p>
<form action="http://127.0.0.1:8000/team/update_pwd/" method="post">
    mail: <input name="mail" type="text"/><br/>
    pwd: <input name="pwd" type="text"/><br/>
    key: <input name="key" type="text"/><br/>
    <input type="submit" value="提交"/></form>
</body>
</html>