<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team test</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/test.css" %}">
    <script src="{% static "js/jquery-1.12.3.js" %}"></script>
    <script src="{% static "js/test.js" %}"></script>
</head>
<body>
<p>验证码(鼠标点击灰色区域生成):</p>
<img id="check"/>
<br/>
<p>search</p>
<form action="http://110.64.69.101:8081/team/search/" method="post">
    model: <input name="model" type="text"/><br>
    type: <input name="type" type="text"/><br>
    keys: <input name="keys" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>register</p>
<form action="http://110.64.69.101:8081/team/register/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    inv: <input name="inv_code" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>

<p>register - ajax</p>
    mail: <input name="mail" id="r_mail" type="text"/><br>
    pwd: <input name="pwd" id="r_pwd" type="text"/><br>
    inv: <input name="inv_code" id="r_inv" type="text"/><br>
    code: <input name="code" type="text" id="r_code"/><br>

    <button id="reg_btn">OK</button>

<p>login</p>
<form action="http://110.64.69.101:8081/team/login/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>reset</p>
<form action="http://110.64.69.101:8081/team/reset/" method="post">
    mail: <input name="mail" type="text"/><br/>

    <input type="submit" value="提交"/></form>
<p>updatea_pwd</p>
<form action="http://110.64.69.101:8081/team/update_pwd/" method="post">
    mail: <input name="mail" type="text"/><br/>
    pwd: <input name="pwd" type="text"/><br/>
    key: <input name="key" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>update_team_info</p>
<form action="http://110.64.69.101:8081/team/update_team_info/" method="post">
    tid: <input name="tid" type="text"/><br/>
    name: <input name="name" type="text"/><br/>
    logo_path: <input name="logo_path" type="text"/><br/>
    slogan: <input name="slogan" type="text"/><br/>
    about: <input name="about" type="text"/><br/>
    history: <input name="history" type="text"/><br/>
    b_type: <input name="b_type" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>add_team_label</p>
<form action="http://110.64.69.101:8081/team/add_team_label/" method="post">
    tid: <input name="tid" type="text"/><br/>
    name: <input name="name" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>rm_team_label</p>
<form action="http://110.64.69.101:8081/team/rm_team_label/" method="post">
    tid: <input name="tid" type="text"/><br/>
    lid: <input name="lid" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>add_team_stu</p>
<form action="http://110.64.69.101:8081/team/add_team_stu/" method="post">
    tid: <input name="tid" type="text"/><br/>
    sid: <input name="sid" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>rm_team_stu</p>
<form action="http://110.64.69.101:8081/team/rm_team_stu/" method="post">
    tid: <input name="tid" type="text"/><br/>
    sid: <input name="sid" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>name2mail</p>
<form action="http://110.64.69.101:8081/team/rm_team_stu/" method="post">
    tid: <input name="tid" type="text"/><br/>
    sid: <input name="sid" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>invite_stu</p>
<form action="http://110.64.69.101:8081/team/invite_stu/" method="post">
    tid: <input name="tid" type="text"/><br/>
    mail: <input name="mail" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>update_team_contact</p>
<form action="http://110.64.69.101:8081/team/update_team_contact/" method="post">
    tid: <input name="tid" type="text"/><br/>
    tel: <input name="tel" type="text"/><br/>
    mail: <input name="mail" type="text"/><br/>
    <input type="submit" value="提交"/></form>
<p>add_team_photo</p>
<form enctype="multipart/form-data" action="http://110.64.69.101:8081/team/add_team_photo/" method="post">
    tid: <input name="tid" type="text"/><br/>
    img: <input name="photo" type="file"/><br/>
    <input type="submit" value="提交"/></form>

<p>upload_logo</p>
<form enctype="multipart/form-data" action="http://110.64.69.101:8081/team/upload_logo/" method="post">
    img: <input name="photo" type="file"/><br/>
    <input type="submit" value="提交"/></form>

<p>rm_team_photo</p>
<form action="http://110.64.69.101:8081/team/rm_team_photo/" method="post">
    tid: <input name="tid" type="text"/><br/>
    img_id: <input name="img_id" type="text"/><br/>
    <input type="submit" value="提交"/></form>
</body>
<p>========================================================</p>
<p>local</p>
<p>========================================================</p>
<p>验证码(鼠标点击灰色区域生成):</p>
<img id="check2"/>
<br/>
<p>register</p>
<form action="http://127.0.0.1:8000/team/register/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    inv: <input name="inv_code" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>login</p>
<form action="http://127.0.0.1:8000/team/login/" method="post">
    mail: <input name="mail" type="text"/><br>
    pwd: <input name="pwd" type="text"/><br>
    code: <input name="code" type="text"/><br>

    <input type="submit" value="提交"/></form>
<p>reset</p>
<form action="http://127.0.0.1:8000/team/reset/" method="post">
    mail: <input name="mail" type="text"/><br/>

    <input type="submit" value="提交"/></form>
<p>updatea_pwd</p>
<form action="http://127.0.0.1:8000/team/update_pwd/" method="post">
    mail: <input name="mail" type="text"/><br/>
    pwd: <input name="pwd" type="text"/><br/>
    key: <input name="key" type="text"/><br/>
    <input type="submit" value="提交"/></form>

</html>