<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>激活成功</title>
    {% load staticfiles %}
    <link href="{% static "css/ghpages-materialize.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="row center center-align" style="margin: 100px auto;">
<a class="waves-effect waves-light btn-large amber darken-3" href="http://wemeet.tech:8080/main/role/login.html">激活成功，点此登录</a>
</div>
</body>
</html>
