#check {
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        letter-spacing: 5px;
        color: black;
        width: 90px;
        height: 50px;
        background-color: #ddd;
        cursor: pointer;
    }
