<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert_page</title>
</head>
<body>
    <h1>insert page</h1>
    <form action="/student/insert/" method="post">
        stu_id: <input name="stu_id" type="text"/><br>
        stu_name: <input name="stu_name" type="text" /><br>
        stu_tel: <input name="stu_tel" type="tel" /><br>
        stu_mail: <input name="stu_mail" type="email"/><br>
        stu_want: <input name="stu_want" type="text" /><br>
        resume_path: <input name="resume_path" type="text" /><br>
        my_meet: <input name="my_meet" type="text"> <br>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>