
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form enctype="multipart/form-data" action="/student/info/skill/add/" method="post">
        account: <input name="account" type="text"/><br>
        credential：<input name="credential" type="text"/><br>
        id: <input name="id" type="text"/><br>
           pwd: <input name="pwd" type="text"/><br>
        name: <input name="name" type="text" /><br>
        tel: <input name="tel" type="tel" /><br>
        mail: <input name="mail" type="email"/><br>
        stu_school: <input name="stu_school" type="text" /><br>
        job_id: <input name="job_id" type="text" /><br>
        resume_path: <input name="resume_path" type="text" /><br>
        major: <input name="major" type="text" /><br>
        graduation_year: <input name="graduation_year" type="text" /><br>
        edu_background: <input name="edu_background" type="text" /><br>
        school: <input name="school" type="text" /><br>
        stu_id: <input name="stu_id" type="text" /><br>
        edu_id: <input name="edu_id" type="text" /><br>
        intern_id: <input name="intern_id" type="text" /><br>
        proj_id: <input name="proj_id" type="text" /><br>
        skill_id: <input name="skill_id" type="text" /><br>
        sex: <input name="sex" type="text" /><br>
        year: <input name="year" type="text" /><br>
        month: <input name="month" type="text" /><br>
        location: <input name="location" type="text" /><br>
        path: <input name="path" type="text" /><br>
        company: <input name="company" type="text" /><br>
        position: <input name="position" type="text" /><br>
        begin_time: <input name="begin_time" type="text" /><br>
        end_time: <input name="end_time" type="text" /><br>
        description: <input name="description" type="text" /><br>
        name: <input name="name" type="text" /><br>
        duty: <input name="duty" type="text" /><br>
        year: <input name="year" type="text" /><br>
        name: <input name="name" type="text" /><br>
        value: <input name="value" type="text" /><br>
        description: <input name="description" type="text" /><br>
        avatar: <input name="avatar" type="file" name="select"/><br>
        resume: <input name="resume" type="file" name="select"/>
        <input type="submit" value="提交" /></form>


</body>

</html>