
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form enctype="multipart/form-data" action="/student/update/" method="post">
        stu_id: <input name="stu_id" type="text"/><br>
           psw: <input name="pwd" type="text"/><br>
        stu_name: <input name="stu_name" type="text" /><br>
        stu_tel: <input name="stu_tel" type="tel" /><br>
        stu_mail: <input name="stu_mail" type="email"/><br>
        stu_school: <input name="stu_school" type="text" /><br>
        avatar: <input name="stu_avatar" type="file" name="select"/>
        <input type="submit" value="提交" />


</body>

</html>