<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show one</title>
</head>
<body>
    <h1>show one</h1>
        stu_id:      {{ student.stu_id }}<br>
        stu_name:    {{ student.stu_name }}<br>
        stu_tel:     {{ student.stu_tel }} <br>
        stu_mail:    {{ student.stu_mail }}<br>
        stu_want:    {{ student.stu_want }}<br>
        resume_path: {{ student.resume_path }}<br>
        my_meet:     {{ student.my_meet }}<br>
    <form action="/student/update_page/" method="post">
        <input name="stu_id" type="hidden" value="{{ student.stu_id }}" >
        <input type="submit" value="Go to update page">
    </form>
</body>
</html>