<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <h1> update page </h1>
    <form action="/student/update/" method="post">
        stu_id: {{ student.stu_id }}
        <input name="stu_id" type="hidden" value="{{ student.stu_id }}"/><br>
        stu_name: <input name="stu_name" type="text" value="{{ student.stu_name }}" /><br>
        stu_tel: <input name="stu_tel" type="tel" value="{{ student.stu_tel }}" /><br>
        stu_mail: <input name="stu_mail" type="email" value="{{ student.stu_mail }}"/><br>
        stu_want: <input name="stu_want" type="text" value="{{ student.stu_want }}" /><br>
        resume_path: <input name="resume_path" type="text" value="{{ student.resume_path }}" /><br>
        my_meet: <input name="my_meet" type="text" value="{{ student.my_meet }}"> <br>
        <input type="submit" value="update"/>
    </form>
</body>
</html>